@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body, p {
  font-family: 'Barlow Condensed', sans-serif;
  @apply text-lg font-normal tracking-normal;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
  font-family: 'DM Sans', sans-serif;
}
h1 {
  @apply text-6xl;
}

/* HERO */
.hero {
  @apply relative flex flex-col;
}
.hero-image {
  @apply absolute h-screen w-full bg-center bg-cover;
}
.hero-content {
  @apply z-20 text-white items-start justify-center flex flex-col pl-6 h-screen max-w-2xl;
}
.hero-content p {
  @apply block mt-2 text-2xl max-w-[40ch];
}

/* NAVIGATION */
.nav-margin {
  @apply fixed z-50 p-4 w-full;
}
.nav-wrapper {
  @apply flex flex-col lg:flex-row w-full justify-between items-stretch py-1 px-4 sm:px-6 lg:px-8;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
}
.nav-item, .nav-item-dropdown {
  @apply relative uppercase py-4 px-4 tracking-wide text-lg;
}
.nav-logo {
  @apply relative;
}
.nav-item {
  @apply relative hidden lg:inline-flex hover:text-[#3A3AEE] transition-colors duration-300 ease-in-out cursor-pointer;
}
.nav-button {
  @apply inline-flex px-4 lg:hidden hover:cursor-pointer;
}
.nav-svg:hover path{
  fill: #001270;
}
.mobile-nav-item {
  @apply relative block px-3 py-2 text-[#292E43] hover:text-[#3A3AEE] text-xl uppercase tracking-wide;
}
.dropdown-menu {
  @apply absolute right-0 top-full z-10 origin-top-right rounded-md bg-[#3A3AEE] py-0 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.dropdown-item {
  @apply block p-4 text-lg text-white hover:text-[#000] tracking-wide;
}
.button-wrapper {
  @apply flex flex-row gap-4 py-8;
}
.nav-item-container {
  @apply flex flex-row;
}
.nav-dropdown-items {
  min-width: 150px;
}
.right-menu {
  @apply flex flex-col bg-[#2828B2] text-white py-0 px-0 gap-y-0 rounded-md;
  min-height: 500px;
  min-width: 200px;
}
.right-nav-item {
  @apply flex flex-row flex-wrap items-center hover:bg-[#1a1a72] pr-8 transition-colors duration-300 ease-in-out cursor-pointer normal-case py-2;
}
.right-nav-item img {
  @apply ml-4 mr-4;
}

/* Buttons */
.btn {
  @apply px-6 md:px-8 py-2.5 bg-transparent border-2 uppercase tracking-wide transition-colors duration-300 ease-in-out cursor-pointer;
}
.primary-btn {
  @apply bg-[#3A3AEE] border-[#3A3AEE] text-white rounded-full hover:bg-[#001270] hover:text-[#FFF] hover:border-[#001270];
}
.secondary-btn {
  @apply bg-transparent border-[#FFF] rounded-full text-white hover:bg-[#FFF] hover:text-[#3A3AEE] tracking-wide;
}
form .secondary-btn {
  @apply border-[#6E7383] text-[#6D6D6D] hover:bg-[#6D6D6D] hover:text-[#FFF] py-1;
  border-width: 1px;
}
form .primary-btn {
  @apply bg-transparent border-[#6E7383] text-[#6D6D6D] hover:bg-[#3A3AEE] hover:text-[#FFF] py-1;
  border-width: 1px;
}

/* SiteBuilder Specific */
#main, .cat-description {
  @apply pt-[80px];
}
.img-logo {
  @apply min-w-[140px];
}

/* Footer */
footer.footer {
  @apply bg-[#2828B2] px-4 divide-y text-white;
}
.footer-container {
  @apply container flex flex-col justify-between py-10 mx-auto space-y-8 lg:flex-row lg:space-y-0;
}
.footer-header {
  @apply tracking-wide uppercase;
}
.address-container {
  @apply grid grid-cols-2 text-sm gap-x-3 gap-y-8 lg:w-2/3 sm:grid-cols-3;
}
.address {
  @apply mt-6 text-base;
}
.address p, .hours p {
  @apply text-sm leading-5 opacity-80;
}
.hours {
  @apply mt-5 md:mt-10;
}
.footer-cta {
  @apply flex flex-row items-center gap-x-6 border-none;
}
.lower-footer {
  @apply bg-[#0A1030] text-white text-center py-4;
}
.lower-footer p {
  @apply text-sm opacity-80;
}
.horizontal-nav {
  @apply flex flex-col lg:flex-row justify-center space-x-8 mb-4 py-8;
  border-bottom: 1px solid #2D3047;
}
.horizontal-nav > li > a {
  @apply uppercase text-lg tracking-wider transition-opacity ease-linear hover:opacity-80;
}
.locations {
  @apply lg:w-1/3 flex flex-col gap-y-1.5 items-start;
}
.locations h3 {
  @apply text-3xl m-0;
}
.locations .secondary-btn {
  @apply w-auto py-1 mt-2;
  border-width: 1px;
}
.locations p {
  @apply max-w-[40ch] leading-6;
}
.footer-cta {
  @apply container py-7 mx-auto lg:flex-row;
  border-top: 1px solid #3D36B1;
}
.footer-cta-container {
  @apply flex flex-row  gap-x-6 items-center;
}
.footer-cta-container h4 {
  @apply text-lg font-thin;
}
.footer-cta-container .secondary-btn {
  @apply py-1;
  border-width: 1px;
}

/* Modal */
.modal {
  @apply fixed top-10 sm:top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50;
}
.modal-open {
  @apply overflow-hidden;
}
.modal-close {
  @apply absolute top-0 right-0 mt-4 mr-4 p-2 border-[#292E43] rounded-full hover:bg-[#3A3AEE] hover:border-[#3A3AEE] transition-all;
  border-width: 1px;
}
.modal-close svg {
  @apply transition-all;
}
.modal-close:hover svg {
  @apply text-white;
}
.modal-inner {
  @apply inline-block bg-white rounded-lg text-left shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-4xl sm:w-full;
}
.modal-flex {
  @apply flex items-center justify-center pt-4 px-4 pb-20 text-center sm:block sm:p-0 sm:mt-0;
}
/* Modal Headline */
.modal-headline {
  @apply py-12 px-6 text-center;
}
.modal-headline h3 {
  @apply text-xl font-normal mt-2;
}
.modal-headline p{ 
  @apply text-lg font-light;
}
.modal-headline img {
  @apply w-auto mx-auto;
}

/* Form Labels & Inputs */
.form-label {
  @apply text-sm font-medium text-[#292E43] hidden;
}
.form-input {
  @apply block w-full rounded-full border-[#292E43] shadow-sm focus:border-[#3A3AEE] focus:ring-[#3A3AEE] sm:text-lg;
  padding-top: 0.275rem;
  padding-bottom: 0.275rem;
}
.form-select {
  @apply block w-full rounded-full border border-[#292E43] bg-white px-3 shadow-sm focus:border-[#3A3AEE] focus:outline-none focus:ring-[#3A3AEE] sm:text-lg;
  padding-top: 0.275rem;
  padding-bottom: 0.275rem;
}
.form-textarea {
  @apply px-4 py-2 rounded-2xl;
}